---
import Layout from '../layouts/Layout.astro';
import MenuPedido from '../components/MenuPedido';
---

<Layout title="Restaurante - Menú y Pedidos">
  <main>
    <h1>Bienvenido a nuestro restaurante</h1>
    <MenuPedido client:load />
  </main>
</Layout>